body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h1 {
    color: #444;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

label {
    font-size: 1.1em;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 1em;
}

button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
}

button:hover {
    background: #218838;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    display: none;
    width: 300px;
    text-align: center;
}

.alert-success {
    background: #28a745;
}

/* Adicione esses estilos ao final do arquivo styles.css */
.progress-container {
    width: 100%;
    margin-top: 20px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    transition: width 0.3s;
}


/* Adicione esses estilos ao final do arquivo styles.css */
#downloads-container {
    margin-top: 30px;
}

#downloads-list {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.download-item {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.download-item button {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
}

.download-item button:hover {
    background: #c82333;
}
